// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// $fa-font-path: "../assets/fonts" !default; 
// @import "font-awesome"; 
// i[class^="fa-"], ion-icon[class^="fa-"] {    
//    font-family: "FontAwesome" !important;
// }
// ion-content{
//   background: #e9e8e8 !important;
// }

.item{
  // background: transparent !important;
}

ion-navbar{
  background: #21233f !important;
  .toolbar-title-md{
    color: rgb(253, 146, 5) !important;
  }
  ion-icon[name=menu],ion-icon[name=search]{
    color: rgb(253, 146, 5) !important;
  }
}
.menu-header{
  img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
}
ion-menu {
  .scroll-content, ion-list .item{
    background: #21233f;
  }
  ion-list {
    border-top: solid 2px rgb(253, 146, 5);
    ion-icon{
      color: rgb(253, 146, 5) !important;
    }
    .label{
      color:rgb(253, 146, 5) !important;
      font-weight: 500 !important;
    }
  }
}
.round {
    border-radius: 50%;
  }
  
  // #menu-avatar {
  //     .user-avatar {
  //       max-width: 125px;height: 125px;
  //       padding: .5em;
       
  //     }
  //     h3,
  //     .label {
  //       color: white;
  //       font-weight: bold;
  //       font-size: 14px;
  //     }
  //     .item {
  //       background: transparent;
  //     }
  //     ion-content {
    
  //       background: #649173;  /* fallback for old browsers */
  //       background: -webkit-linear-gradient(to left, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
  //       background: linear-gradient(to left, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
  //     }
  //     .menu-inner {
  //       background: rgba(255, 255, 255, .3);
  //     }
  //   }
    
  
  #menu-material {
      .menu-header {
        padding: 5px 15px;
        background-image: url('../assets/imgs/job1.jpg');
        background-size: cover;
        color: white;
        .name {
          font-weight: 500;
          margin-bottom: 3px;
        }
        .e-mail {
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
      .user-avatar {
        max-width: 125px;height: 125px;
        padding: .5em;
        height: 12vh;
        margin-left:  85px;
        margin-top:  20px;
      }
      h3,
      .label,
      {
        color: #999;
        font-weight: 400;
      }
      ion-icon {
        color: #777;
      }
    }

    // loading
    
    .lds-hourglass {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    }
    .lds-hourglass:after {
      content: " ";
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;
      margin: 6px;
      box-sizing: border-box;
      border: 26px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-hourglass 1.2s infinite;
    }
    @keyframes lds-hourglass {
      0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      }
      100% {
        transform: rotate(1800deg);
      }
    }
    //loader2
    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
    }
    .lds-ellipsis div {
      position: absolute;
      top: 27px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
      left: 6px;
      animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
      left: 6px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
      left: 26px;
      animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
      left: 45px;
      animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
    @keyframes lds-ellipsis3 {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(0);
      }
    }
    @keyframes lds-ellipsis2 {
      0% {
        transform: translate(0, 0);
      }
      100% {
        transform: translate(19px, 0);
      }
    }
    
    
  