
<ion-header>
    <ion-navbar color='padrao'>
      <button ion-button menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
      <ion-title>Configurações</ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <ion-list no-lines>
       
      <button *ngIf="!resetSenha"color="final" ion-button icon-start full (click)="resetaSenha()">
          <ion-icon name="ios-shuffle-outline" item-left></ion-icon>
          Alterar senha
      </button>
      </ion-list>

      <div *ngIf="resetSenha">
            <ion-grid class="box">
                    <ion-row class="rowTitle">
                      <ion-col>
                        <h1>Troca de Senha</h1>
                        <p>Para realizar a troca de senha, preencha os campos a seguir.</p>
                      </ion-col>
                    </ion-row>
                    <form [formGroup]="validations_form">
                      <ion-row margin-top>
                        <ion-col>
                          <ion-list>
                            <ion-item no-margin no-padding>
                              <ion-label floating>Senha Atual</ion-label>
                              <ion-input formControlName="senhaAntiga" type="password" [(ngModel)]="newPwd.antiga"></ion-input>
                              <ion-avatar class="avatEye" item-right>
                                
                              </ion-avatar>
                            </ion-item>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.senhaAntiga">
                                    <div class="error-message" *ngIf="validations_form.get('senhaAntiga').hasError(validation.type) && (validations_form.get('senhaAntiga').dirty || validations_form.get('senhaAntiga').touched)">
                                        <p>{{ validation.message }}</p>
                                    </div>
                                </ng-container>
                            </div>
                            <div  formGroupName="matching_passwords">
                              <ion-item no-margin no-padding>
                                <ion-label floating>Nova Senha</ion-label>
                                <ion-input formControlName="password"  type="{{passwordtype}}" [(ngModel)]="newPwd.nova"></ion-input>
                                <ion-avatar class="avatEye" item-right>
                                        <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()">
                                                <ion-icon name="{{passeye}}"></ion-icon>
                                            </button>
                                </ion-avatar>
                              </ion-item>
                              <div class="validation-errors">
                                  <ng-container *ngFor="let validation of validation_messages.password">
                                      <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
                                          <p>{{ validation.message }}</p>
                                      </div>
                                  </ng-container>
                              </div>
                              <ion-item no-margin no-padding>
                                <ion-label floating>Confirme a nova senha</ion-label>
                                <ion-input formControlName="confirm_password"  type="{{passwordtype}}"></ion-input>
                                <ion-avatar class="avatEye" item-right>
                                        <button ion-button clear class="eye-icon-btn" type="button" item-right (click)="managePassword()">
                                                <ion-icon name="{{passeye}}"></ion-icon>
                                            </button>
                                </ion-avatar>
                              </ion-item>
                              <div class="validation-errors">
                                  <ng-container *ngFor="let validation of validation_messages.confirm_password">
                                      <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                                          <p>{{ validation.message }}</p>
                                      </div>
                                  </ng-container>
                              </div>
                              <div class="validation-errors">
                                  <ng-container *ngFor="let validation of validation_messages.matching_passwords">
                                      <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                                          <p>{{ validation.message }}</p>
                                      </div>
                                  </ng-container>
                              </div>
                
                            </div>
                          </ion-list>
                        </ion-col>
                      </ion-row>
                    </form>
                
                    <ion-row padding-top margin-top>
                        <ion-col text-center>
                                    <button ion-button color='final' text-uppercase (click)='finalizar()'>
                                          Cancelar
                                    </button>
                         </ion-col>
                      <ion-col text-center>
                        <button ion-button color='padrao' text-uppercase (click)='sendPassWord()'>
                          confirmar
                        </button>
                      </ion-col>
                     
                    </ion-row>
                
                  </ion-grid>
         
     </div>
  
        
</ion-content>
